@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&family=Karla&display=swap");
.container {
  display: grid;
  grid-template-columns: 25% 75%;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 25px;
  align-items: center;
}

.navlinks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
  list-style: none;
}
.navlinks li {
  justify-self: start;
}

.logo {
  justify-self: end;
}

.foot-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.footer-img {
  width: 199px;
  height: 244px;
  overflow: hidden;
  justify-self: end;
}

.footer-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15%;
}

footer {
  background-color: #495e57;
}

.foot-container ul {
  list-style: none;
  color: azure;
  justify-self: start;
}

.foot-container ul li:first-of-type {
  font-weight: bold;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40em, 2fr));
  background-color: #495e57;
}

.left-hero-section {
  justify-self: center;
  margin-top: 50px;
  font-family: "Markazi Text", serif;
}

.left-hero-section h1 {
  color: #f4ce14;
  margin-bottom: 2px;
  font-size: 4em;
}

.left-hero-section h2 {
  color: azure;
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 3em;
}

.left-hero-section p {
  color: azure;
  width: 200px;
  height: 40px;
  font-family: "Karla", sans-serif;
  margin-top: 0;
}

.left-hero-section button {
  color: black;
  background-color: #f4ce14;
  border-radius: 15px;
  border: none;
  padding: 15px 80px;
  margin-top: 70px;
  font-family: "Karla";
  font-weight: 800;
  font-size: 1em;
}

.hero-section-img {
  width: 451px;
  height: 446px;
  overflow: hidden;
  justify-self: center;
  margin-top: 20px;
}

.hero-section-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15%;
}

.highlights-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40em, 2fr));
}

.highlights-header h1 {
  justify-self: center;
  font-family: "Markazi Text", serif;
  font-size: 4em;
}

.highlights-header button {
  color: black;
  background-color: #f4ce14;
  border-radius: 15px;
  border: none;
  font-family: "Karla";
  font-weight: 800;
  font-size: 1em;
  width: 345px;
  height: 72px;
  align-self: center;
  justify-self: center;
  margin-bottom: 30px;
}

.products {
  border-radius: 15%;
  margin-bottom: 40px;
}

.products img {
  width: 295px;
  height: 182px;
  object-fit: cover;
  border-radius: 15%;
}

.products div {
  border-radius: 15%;
}

.description {
  height: 343px;
}

.highlights-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));
}

.highlights-body div {
  width: 295px;
  justify-self: center;
  background-color: #efefef;
}

.header-title-price {
  display: grid;
  grid-template-columns: 60% 40%;
  font-family: "Karla", sans-serif;
  font-size: small;
  justify-content: space-around;
}

.header-title-price .price {
  color: #b8a500;
  justify-self: end;
}

div.description p {
  margin-left: 30px;
  margin-right: 30px;
  color: #495e57;
  height: 105px;
}

.description .order-now h2 {
  margin-left: 30px;
  margin-right: 30px;
  font-size: medium;
  margin-top: 70px;
}

.header-title-price h2 {
  margin-left: 25px;
  margin-right: 25px;
}
